/* App.css */
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  background-color: #ffffff;
  width: 300px;
}

.item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.item img {
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
  height: 200px;
}

.item p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.item h3 {
  font-size: 18px;
  color: #222;
}